body {
  margin: 20px;
  padding: 0px;
}

h2 {
font-family: 'Arvo', serif;
margin-top: 30px;
  border-top: 2px solid #E6E7E8;
padding-top: 10px;
  color: #942B20;}

  .hero-image {
              height: 300px;
              background-image: url(mechanic_grid.jpeg);
              background-repeat: no-repeat;
              background-size: cover;
              position: relative;
          }

  .hero-image__container {
              display: flex;
            align-items: center;
            justify-content: center;
              height: 300px;
          }

  .hero-image__text {
              z-index: 100;
              padding: 1em;
              color: white;
              font-family: 'Open Sans', sans-serif;

              text-align: center;
          }

  .hero-image:after {
              position: absolute;
              height: 300px;
              width: 100%;

              top: 0;
              left: 0;
              display: block;
              content: "";
          }

  .hero-image__text h1 {
  font-size: 300%;
    font-family: 'Arvo', serif;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 0px;
    letter-spacing: 1px;
  }

  .hero-image__text p {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 110%;
    letter-spacing: .5px;
    text-shadow: 2px 2px 2px black;
  }

  .button {
      padding: 1em;
      display: inline-block;
      background-color: #942B20;
      color: white;
      text-decoration: none;
      font-family: 'Open Sans', sans-serif;
      transition: .3s background-color ease-in-out;
      border-radius: 4px;
      margin: 10px;
  }

  /* Add a hover/focus effect */
  .button:hover, .button:focus {
      background-color: #BF8079;
  }

  .servicebutton {
    display: flex;
    justify-content: space-around;
    background-color: #2E2E2F;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
    font-weight:  400;
    padding: 10px;
    max-width: 50%;
    background-color: #942B20;
    font-kerning: 5px;
    border-radius: 4px;
  }


  .servicebutton:hover, .servicebutton:focus {
    background-color: #BF8079;
  }

  .carousel-cell {
      width: 100%;

  }

  .carousel-cell img {
      width: 100%;
      height: auto;
  }

  /* Ensures that Flickity waits until CSS has loaded to calculate the height of the cells */
  .carousel:after {
    content: 'flickity';
    display: none; /* hide :after */
  }

  .carousel-cell p, .carousel-cell h2 {
    margin-left: 45px;
    margin-right: 45px;

  }

  .carousel-cell p {
    font-size: 90%;
    line-height: 150%;
    margin-top: 5px;
  }
  .promotionslider {
    margin-top: 15px;
  }
  footer {
    background-color: #2E2E2F;
    padding: 15px;
    display: block;
  }
  footer p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .copyright {
    font-size: 60%;
    margin-bottom: 0px;
  }
  .bottombutton {
    padding: 1em;
    display: block;
    justify-content: space-around;
    background-color: #2E2E2F;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    transition: .3s background-color ease-in-out;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 125%;
    text-align: center;
  }

  /* Add a hover/focus effect */
  .bottombutton:hover, .bottombutton:focus {
    background-color: black;
  }
  .quote, .customer {
    margin-left: 50px;
    margin-right: 50px;
    color: #942B20;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
  .customer {
    font-style: italic;
  }

  .testmonials {
    margin-top: 30px;
  }


header img {
  width: 200px;
  float: left;
  display: block;
}

.headline {
  font-family: 'Arvo', serif;
  color: #942B20;
}

.paragraph {
  font-family: 'Open Sans', sans-serif;
}
a.menu-link span {
  display: block;
  height: 5px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px; /* Adjust the rounding of the hamburger here */
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

a.menu-link span:first-child {
  transform-origin: 0% 0%;
}


a.menu-link span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-link.active .menu-link__hamburger {
    transform: translate(10px, 0);
}

.menu-link.active span {
  opacity: 1;
    background: black;
  transform: rotate(45deg) translate(-2px, -1px);
}

.menu-link.active span:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-link.active span:nth-child(3){
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}
header ul a:visited {
  color: #942B20;
}
header ul a:link {
  text-decoration: none;
  color: #942B20;
}
header ul a:active {
  color: #BF8079;
  text-decoration: underline;
}
header ul a:hover {
  text-decoration: underline;
}
a {
  font-family: 'Open Sans', sans-serif;
  color: #942B20;
}

.paragrapha {
  font-family: 'Open Sans', sans-serif;
}



nav[role=navigation] {
            clear: both;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }
        .js nav[role=navigation] {
            overflow: hidden;
            max-height: 0;
        }
        nav[role=navigation].active {
            max-height: 15em;
        }
        nav[role=navigation] ul {
            margin: 0;
            padding: 0;
            border-top: 1px solid #808080;
        }
        nav[role=navigation] li a {
            display: block;
            padding: 0.8em;
            border-bottom: 1px solid #808080;
      }

@media screen and (min-width:400px) {
            .service__text h1 {
              margin-top: 30px;
              font-size: 300%
            }
            a.menu-link {
               display: none;

            }
            .js nav[role=navigation] {
                max-height: none;
            }
            nav[role=navigation] ul {
                margin: 0 0 0 -0.25em;
                border: 0;
            }

            nav[role=navigation]  li {
                display: inline-block;
                margin: 0 0.25em;
            }
            nav[role=navigation] li a {
                border: 0;
            }
            header ul {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-around;
            }
            nav {
              text-align: center;
            }
