body {
  max-width: 1000px;
  padding: 1em;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'Arvo', serif;
  color: #942B20;
}
div, section, main, aside, header, footer {
  border: 1px solid lightgray;
  padding: .5em;
  margin-bottom: 1em;
}

header {
  text-align: center;
}

header h2 {
  font-size: 100%;
  text-transform: uppercase;
  background-color: #E6E7E8;
  padding: 10px;
  flex-grow: <0>;
  margin-top: 0px;
  margin-bottom: 0px;
  box-shadow: 0px 2px 5px #E6E7E8;
  border-radius: 4px;
}

header img {
  width: 400px;
  max-width: 100%;
  align-items: center;

}

header ul {

  list-style: none;

}

header a:visited {
  color: #942B20;
}

header a:link {
  text-decoration: none;
}

header a:active {
  color: #2E2E2F;
  text-decoration: underline;
}

header a:hover {
  text-decoration: underline;
}


.nav-trigger {
  padding: 1em;
  cursor: pointer;
  z-index: 200;
    display: inline-block;
    float: right;
}

.nav-trigger:after {
  content:"Menu";
}

.nav-trigger.close:after {
    content: "Close";
}

.nav-trigger.open {
    background-color: black;
    color: white;
    transition: .3s all ease-in-out;
}

.nav-trigger.close {
  color: white;
    z-index: 1000;
    position: relative;
}


nav {
  width: 100%;
  position: fixed;
  z-index: 100;
    top: -100%;
    height: 100vh;
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

nav.out {
  pointer-events: none;
}

nav.in {
  pointer-events: auto;
}

nav ul {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
    height: 100%;
  cursor: pointer;
    display: flex;
    flex-flow: column;
}

nav ul {
  height: 100%;
  width: 100%;
}

nav li {
  height: auto;
    flex: 1;
  position: relative;
  background: rgba(0,0,0,.95);
  color: white;
}

nav.in {
    top: 0;
    opacity: 1;
}

nav.in li {
  opacity: 1;
}

.nav-label {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  top: 50%;
    margin-top: -8px;
}





footer ul {
justify-content: center;
  list-style-type: none;
  display: flex;
  flex-flow: column;

  padding: 5px;
  line-height: 150%;
  background-color: #E6E7E8
}

footer a:visited {
  color: #942B20;
}

footer a:link {
  text-decoration: none;
}

footer a:active {
  color: #2E2E2F;
  text-decoration: underline;
}

footer a:hover {
  text-decoration: underline;
}




* { box-sizing: border-box;}
