body {
  max-width: 1000px;
  padding: 1em;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'Arvo', serif;
  color: #942B20;
}
div, section, main, aside, header, footer {
  border: 1px solid lightgray;
  padding: .5em;
  margin-bottom: 1em;
}

header{
  text-align: left;
}
header img {
  width: 250px;
  max-width: 100%;
  float: left;
  padding-top: 50px;
  margin-bottom: 20px;

}
.header .appointment, header h2 {
  display: inline;
  justify-content: space-between;
}
.header .appointment{
text-align: right;
}

header h2  {
position: fixed;
text-align: left;
float: left;
letter-spacing: .05em;
font-size: 20px;
background-color: #E6E7E8;
width: 100%;
padding: 15px;
margin-top: 0px;

}


header ul {

  font-family: 'Arvo', serif;
  color: #942B20;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 90px;
}





* { box-sizing: border-box;}
